<app-navbar></app-navbar>
<section class="upperSection">
  <div class="backDrop">
    <div class="banner">
      <div class="content">
        <h2>School Management System</h2>
        <h3>By JKCM's</h3>
        <h1>Pay-As-You-Go</h1>
        <p>Pay for only what you use</p>
        <button type="button" class="btn btn-outline-info">
          Register for Free
        </button>
      </div>
      <img
        class="banner-image"
        src="./assets/banner-image.jpg"
        alt="banner-image"
      />
    </div>
  </div>
</section>
<section class="cards">
  <h1>Our School Management System</h1>
  <div class="scrollContainer">
    <div class="scroller">
      <div *ngFor="let card of cards" class="card">
        <h1>{{ card.heading }}</h1>
        <ul>
          <li *ngFor="let item of card.list">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="clients">
  <h1>Our Clients</h1>
  <div class="testimony">
    <p>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
      tempora dolorem. Excepturi quo enim commodi iste, explicabo totam error
      harum. Ex nobis repellat velit officia blanditiis. Perferendis, ut soluta!"
    </p>
    <img src="./assets/client-user.jpg" alt="client-image" />
  </div>
  <div class="testimony reverse">
    <p>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
      tempora dolorem. Excepturi quo enim commodi iste, explicabo totam error
      harum. Ex nobis repellat velit officia blanditiis. Perferendis, ut soluta!"
    </p>
    <img src="./assets/client-user.jpg" alt="client-image" />
  </div>
  <div class="testimony">
    <p>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
      tempora dolorem. Excepturi quo enim commodi iste, explicabo totam error
      harum. Ex nobis repellat velit officia blanditiis. Perferendis, ut soluta!"
    </p>
    <img src="./assets/client-user.jpg" alt="client-image" />
  </div>
  <div class="testimony reverse">
    <p>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
      tempora dolorem. Excepturi quo enim commodi iste, explicabo totam error
      harum. Ex nobis repellat velit officia blanditiis. Perferendis, ut soluta!"
    </p>
    <img src="./assets/client-user.jpg" alt="client-image" />
  </div>
  <div class="testimony">
    <p>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
      tempora dolorem. Excepturi quo enim commodi iste, explicabo totam error
      harum. Ex nobis repellat velit officia blanditiis. Perferendis, ut soluta!"
    </p>
    <img src="./assets/client-user.jpg" alt="client-image" />
  </div>
  <div class="testimony reverse">
    <p>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga
      tempora dolorem. Excepturi quo enim commodi iste, explicabo totam error
      harum. Ex nobis repellat velit officia blanditiis. Perferendis, ut soluta!"
    </p>
    <img src="./assets/client-user.jpg" alt="client-image" />
  </div>
</section>
<app-footer></app-footer>